body {
	-webkit-user-select: none;
	padding: 0; margin: 0;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 90%;
	background-image: url('/static/background.jpg');
	background-attachment: fixed;
	background-size: 100%;
}

h1,h2,h3 {
	text-align: center;
}

button {
	outline: none;
	border: 0;
}

tr {
	border-bottom: 1px solid grey;
}

td, th {
	padding: 0.5em 0.2em;
	text-align: left;
}
